/* custom fonts */
@font-face {
    font-family: OldLondon;
    src:
        url('../fonts/OldLondon.woff') format('woff'),
        url('../fonts/OldLondon.ttf') format('truetype'),
        url('../fonts/OldLondon.svg#font') format('svg');
}
@font-face {
    font-family: Droid;
    src:
        url('../fonts/Droid.ttf') format('truetype');
}
@font-face {
    font-family: SpecifyPersonal;
    src:
        url('../fonts/SpecifyPERSONAL-ConBold.woff') format('woff'),
        url('../fonts/SpecifyPERSONAL-ConBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: BlackLarch;
    src:
        url('../fonts/BlackLarch.woff') format('woff'),
        url('../fonts/BlackLarch.ttf') format('truetype');
}
/* # main styles */
body {
    width: 1200px;
}
aside{
    width: 200px;
    float: left;
}

/* ### styles for header columns */
header .left {
    border: 1px solid black;
    margin: 25px;
    padding: 15px;
    font-size: .8rem;
    vertical-align: middle;
}
header .right {
    text-align: justify;
    font-size: .8rem;
}
header .main_title {
    font-family: OldLondon;
    width: 800px;
    font-size: 6rem;
    float: left;
}
.mag_info {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    clear: both;
}
.mag_info .small_text {
    font-size: 0.7em;
    margin-right: 25px;
    margin-left: 25px;
}
.mag_info .right {
    float:right;
    vertical-align: middle;
}
.right p {
    margin-top: 0em;
}
p.right_title {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1em;
    margin-bottom: 0em;
}

/* #### body styles */
main {
    margin-top: 10px;
    box-sizing: content-box;
    font-size: 0.8rem;
}
main .left {
    border-right: 1px solid black;
    width: 200px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}
main > .center {
    width: 800px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}
main .right {
    border-left: 1px solid black;
    width: 200px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}
main > div {
    float: left;
}
main h2 {
    font-size: 2rem;
}
main h2.font_BlackLarch {
    font-family: BlackLarch;
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: 2.5px;
}
main h2.font_Droid{
    font-family: Droid;
    font-size: 1.8rem;
}
main h4 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
main p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
main p:first-of-type:first-letter{
    font-size: 1rem;
}
main p.under_image_text {
    text-indent: 0;
}

/* ####  main image styles */
main a {
    text-decoration: none;
    font-style: italic;
    color: #000;
}
main .text_center {
    text-align: center;
}
figure {
    margin: 0;
}
/*  #### right cloumn image styles  */
figure.right_column_img {
    float: right;
    margin: 10px 0 1em 1em;
  }
/* central text styles */
hr {
    width: 30%;
}
hr.boild {
    width: 95%;
    border-bottom: 5px solid grey;
}
main article {
    width: 50%;
    box-sizing: border-box;
    float: left;
    margin-top: 10px;
}

main article:first-of-type {
    border-right: 1px solid #000;
    padding-right: 10px;
}
main article:nth-of-type(2){
    padding-left: 10px;
}
.double_column {
    column-count: 2;
}